[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/osuny"]
	path = themes/osuny
	url = https://github.com/osunyorg/theme.git
